/* You can add global styles to this file, and also import other style files */
.navbar{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFMjHxdL-HSQE_KlflFsNeCFZayggedrov1w&usqp=CAU);
}

.navbar .navbar-brand{
    color: #FFF;
    font-weight: bolder;
    font-size: 1.3em;

}

.navbar .nav-link{
    color: #FFF;
    font-size: 1em;
}

.texto{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}

.list{
    font-size: 1.1em; 
}

.page-item .page-link{
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    background-color: black;
    margin-left: 15pt;
}